$colors: (
  textColor: #ffffffbb,
  green: #55e5a4,
  white: #fff,
  bg: #151c25,
  textBlack: black,
  purple: #8a13a1,
  bgDark: #151c25,
  textDark: white,
  bgLight: #d4b6f1f3,
  textLight: black,
);

:root {
  @each $name, $color in $colors {
    --#{$name + ""}: #{$color};
  }
}

.bg- {
  @each $name, $color in $colors {
    &#{$name + ""} {
      background-color: #{$color} !important;
    }
  }
}

.text- {
  @each $name, $color in $colors {
    &#{$name + ""} {
      color: #{$color} !important;
    }
  }
}

.border- {
  @each $name, $color in $colors {
    &#{$name + ""} {
      border-color: #{$color} !important;
    }
  }
}
