* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  outline: none;

  &:before,
  &:after {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
  }
}

body {
  overflow: hidden;
  background-color: var(--background);
  font-family: "Merriweather", "Jersey 25", sans-serif, "Nunito";
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: var(--textColor1);

  .mask {
    width: 100%;
    height: 100%;
    background: var(--purple);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      font-family: "Nunito";
      font-size: 30px;
      color: white;
      opacity: 0;
      transition: opacity 0.5s ease;
      padding: 0 10px 0 10px;
      @media screen and (max-width: 500px) {
        font-size: 24px;
        text-align: center;
      }
    }
  }

  .loader.show {
    opacity: 1;
  }

  .hide {
    opacity: 0;
  }

  @media screen and (max-width: 767px) {
    &.lock {
      overflow: hidden;
    }
  }
  li {
    color: var(--textColor1);
  }
}
header,
main {
  opacity: 0;
  position: relative;
  top: -100px;
  transition: all 0.5s ease;
}

header.visible,
main.visible {
  opacity: 1;
  top: 0;
}
body.dark {
  background-color: var(--bgDark);
  color: var(--textDark);
  .menuToggle {
    &:before,
    &:after,
    span {
      background: var(--green);
    }
  }
  header {
    background: var(--bgDark);
    @media screen and (max-width: 1023px) {
      nav {
        background: var(--bg);
      }
    }
  }
  h2,
  h3 {
    color: var(--green);
  }
  .frontend img {
    background-color: rgb(37, 51, 70);
  }
  .navPanel {
    a {
      text-decoration: none;
      color: var(--textColor);
      &:hover {
        color: var(--green);
      }
    }
    a {
      color: var(--white);
      &::before {
        background: #fff;
      }
    }
  }
  .buttonResume {
    color: white;
    border: 1px solid var(--white);
    &:hover {
      background-color: var(--green);
      color: #000;
      border: 1px solid var(--green);
    }
  }
  article {
    background: rgb(37, 51, 70);
    a {
      color: white;
      &:hover {
        background-color: var(--green);
        color: #000;
        border: 1px solid var(--green);
      }
    }
  }

  footer a {
    color: var(--textColor);
    @media screen and (min-width: 1024px) {
      &:hover {
        color: var(--green);
      }
    }
  }
  .line {
    display: block;
    width: 100%;
    border-bottom: 1px solid #55e5a4;
  }
  .ontop {
    box-shadow: 0 0 25px rgba(58, 163, 37, 0.7);
    background: var(--green);
  }
}
body.dark::-webkit-scrollbar {
  width: 20px;
}
body.dark::-webkit-scrollbar-track {
  background: rgb(184, 187, 235);
}
body.dark::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 8px;
  border: 2px solid green;
}
body.light {
  background-color: var(--bgLight);
  color: var(--textLight);
  .menuToggle {
    &:before,
    &:after,
    span {
      background: var(--purple);
    }
  }
  header {
    background: var(--bgLight);
    @media screen and (max-width: 1023px) {
      nav {
        background: var(--bgLight);
      }
    }
  }
  h2,
  h3 {
    background: linear-gradient(to bottom, #1b0202, #3f0909);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .frontend img {
    background: darken(#d4b6f1f3, 15);
  }
  .navPanel {
    a {
      text-decoration: none;
      &:hover {
        color: var(--purple);
      }
    }
    a {
      color: black;
      &::before {
        background: black;
      }
    }
  }
  article {
    background: darken(#d4b6f1f3, 15);
    a {
      color: black;
      &:hover {
        background-color: rgba(115, 67, 160, 0.952);
        color: var(--bg);
        border: 1px solid rgba(115, 67, 160, 0.952);
      }
    }
  }
  footer {
    .ontop {
      box-shadow: 0 0 25px rgba(143, 65, 104, 0.7);
      background: var(--purple);
    }
  }
  footer p {
    &::after {
      background: black;
    }
  }
  footer a {
    color: black;
    @media screen and (min-width: 1024px) {
      &:hover {
        color: var(--purple);
      }
    }
  }
  .buttonResume {
    color: var(--textLight);
    border: 1px solid var(--purple);
    &:hover {
      background-color: rgba(115, 67, 160, 0.952);
      color: var(--bg);
      border: 1px solid rgba(115, 67, 160, 0.952);
    }
  }

  .line {
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--purple);
  }
}
body.light::-webkit-scrollbar {
  width: 20px;
}
body.light::-webkit-scrollbar-track {
  background: rgb(184, 187, 235);
}
body.light::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 8px;
  border: 2px solid rgb(80, 11, 80);
}
section,
div,
p {
  display: block;
}
p {
  @media screen and (max-width: 867px) {
    font-size: 14px !important;
  }
}
a {
  @media screen and (max-width: 667px) {
    font-size: 18px !important;
  }
}
.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
header,
main,
footer {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.wrapperContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  .innerContent {
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
}
